/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #f9f9f9;
  width: 220px;
  height: calc(100% - 60px);
  padding: 20px;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.sidebar-title {
  color: #2596be;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-links {
  list-style: none;
}

.sidebar-links li {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.sidebar-links li:hover {
  color: #2596be;
}
.sidebar-links .blue {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

.sidebar-mobile-button {
  display: none;
}
/* Mobile view */
@media (max-width: 768px) {
  .sidebar-mobile-button {
    display: inline-block;
    background-color: #2596be;
    color: white;
    border: none;
    padding: 9px 14px;
    border-radius: 6px;
    cursor: pointer;
  }

  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 60px;
    z-index: 999;
    background-color: #fff;
    width: 200px;
    border-right: 1px solid #ddd;
    height: calc(100% - 60px);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
